*{

margin: 0;
padding: 0;
box-sizing: border-box;

}



header{

height: 100px;
background-color: aqua;
display: flex;
justify-content: center;
align-items: center;

}

.border-black{

border: 1px dashed black;


}




.container{

display: flex;
width: 80%;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 0;
padding-right:0;
align-content: center;
justify-content: start;

}

header div{

padding-top: 7px;
padding-bottom: 7px;
padding-left: 5px;
padding-right: 5px;

}

.div-left{
background-color: #DAA520; 
width: 25%;    
text-align: left;
}

.div-right{
background-color: #DAA520; 
width: 25%;
text-align: right;
}


.div-center{
width: 50%;
text-align: center;
background-color: #DAA520; 
}

section{

justify-content: center;
align-items: center;    
display: flex;
min-height: 300px;
}


.pink{

background-color: #ee82ee;
height: 200px;
margin-right: 50px;
margin-left: 50px;
width: 67%;

}

.blue-back{
background-color: blue;

}

.sec{

justify-content: center;

}

.azure{
background-color: #1e90ff;
height: 220px;
width: 65%;
}

.light-pink{
background-color: #FFC0CB; 
height: 220px;
width: 35%;
}

.revert{

 flex-direction: row-reverse;   

}


.gray{

    background-color: #D3D3D3;
}

.green{

background-color: #228B22;
width: 100%;
min-height: 500px;
}

.black{

background-color: #23272A

}

.coral{
min-height: 450px;
width: 28%;
background-color: #F08080;
border: 1px dashed black;
}

.light-blue{

    border: 1px dashed white;
    min-height: 450px;
    background-color: #20B2AA;
    width: 18%;
}

.final{

justify-content: space-between;
background-color: #7FFFD4; 

}

.final-botton{

background-color: #FFB6C1;
border: 1px dashed black;
padding: 4px;

}
