*{

margin: 0;
padding: 0;
box-sizing: border-box;

}



header{

height: 100px;
background-color: aqua;
display: flex;
justify-content: center;
align-items: center;

}

.container{

display: flex;
width: 80%;
background-color: brown;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 0;
padding-right:0;
align-content: center;
justify-content: start;

}

header div{

/* width: calc(100%/3);    */

background-color: darkgoldenrod;
border: 1px dashed black;
padding-top: 7px;
padding-bottom: 7px;
padding-left: 5px;
padding-right: 5px;

}

.div-left{
 
width: 25%;    
text-align: left;

}

.div-right{

width: 25%;
text-align: right;
}


.div-center{
width: 50%;
text-align: center;

}

section{

justify-content: center;
align-items: center;    
display: flex;
min-height: 300px;
}


.pink{

background-color: pink;
height: 200px;
border: 1px dashed black;
margin-right: 50px;
margin-left: 50px;
width: 67%;

}

.blue-back{
background-color: blue;

}

.sec{

justify-content: center;

}

.azure{
background-color: aquamarine;
height: 220px;
width: 65%;
}

.light-pink{
background-color: pink;
height: 220px;
width: 35%;
}

.revert{

 flex-direction: row-reverse;   

}


.gray{

    background-color: gray;
}


